@use "../../styles/variables" as *;
@use "../../styles/functions" as *;
@use "../../styles/mixins" as *;

.button {
  font-family: $font-family-primary;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  white-space: nowrap;
  padding: 8px 16px;
  border-radius: 8px;
  border: none;
  cursor: pointer;

  &--primary {
    background-color: var(--accent);
    color: var(--accent-fg);

    &:hover {
      opacity: 80%;
    }
  }

  &--secondary {
    background-color: var(--accent-fg);
    color: var(--accent);
    border: 1px solid var(--accent);

    &:hover {
      background: var(--accent-fg);
      box-shadow:
        0px 0px 0px 1px var(--accent) inset,
        0px 0px 0px 1px var(--accent-fg) inset;
    }
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
    pointer-events: none;
    box-shadow: none;
  }
}
