@use "../../styles/variables" as *;
@use "../../styles/functions" as *;
@use "../../styles/mixins" as *;

.tag {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  border-radius: pxToRem(20);
  white-space: nowrap;

  transition:
    transform 0.2s ease,
    background-color 0.2s ease;

  &--skill {
    background-color: $color-tertiary-medium;
    color: $color-background-dark-default;

    &:hover {
      transform: translateY(-2px);
    }
  }

  .typography--p2 {
    margin: pxToRem(8);
  }
}
