@use "../../styles/variables" as *;
@use "../../styles/functions" as *;
@use "../../styles/mixins" as *;

.icon {
  display: inline-block;
  vertical-align: middle;
  width: pxToRem(20);
  height: pxToRem(20);
  color: var(--fg-2);
  transition:
    color 0.3s ease,
    transform 0.3s ease;

  &--active {
    color: var(--accent);
  }

  &--check {
    color: var(--accent);
  }

  &--copy {
    &:hover {
      color: var(--accent);
      transform: scale(1.1);
    }
  }

  &--linkedin,
  &--github {
    cursor: pointer;

    &:hover {
      color: var(--fg);
      transform: translateY(-2px);
    }
  }

  &--linkedin:hover {
    color: #0077b5;
  }
}
