@use "../../styles/variables" as *;
@use "../../styles/functions" as *;
@use "../../styles/mixins" as *;

.icon {
  display: inline-block;
  vertical-align: middle;
  width: pxToRem(20);
  height: pxToRem(20);
  color: $color-text-secondary;
  transition:
    color 0.3s ease,
    transform 0.3s ease;

  &--active {
    color: $color-link;
  }

  &--check {
    color: $color-tertiary-medium;
  }

  &--copy {
    &:hover {
      color: $color-link;
      transform: scale(1.1);
    }
  }

  &--linkedin,
  &--github {
    cursor: pointer;

    &:hover {
      color: $color-text-primary;
      transform: translateY(-2px);
    }
  }

  &--linkedin:hover {
    color: #0077b5;
  }
}
