$font-family-primary: "Titillium Web", Arial, sans-serif;

$max-width-md: 1045px;
$max-width-lg: 1440px;

$color-background-dark: #16161a;
$color-background-light: #242629;
$color-text-primary: #fffffe;
$color-text-secondary: #94a1b2;
$color-button-primary: #7f5af0;
$color-primary-dark: #010101;
$color-secondary-light: #72757e;
$color-tertiary-medium: #2cb67d;
