$font-family-primary: "Titillium Web", Arial, sans-serif;

$max-width-md: 1045px;
$max-width-lg: 1440px;

$color-button-primary: #7f5af0;
$color-primary-dark: #010101;
$color-secondary-light: #72757e;
$color-tertiary-medium: #00eb9a;

:root {
  --bg-dark: #16161a;
  --bg-light: #242629;
  --text-primary: #fffffe;
  --text-secondary: #94a1b2;
}

[data-theme="light"] {
  --bg-dark: #fffffe;
  --bg-light: #94a1b2;
  --text-primary: #16161a;
  --text-secondary: #242629;
}

$color-background-dark: var(--bg-dark);
$color-background-light: var(--bg-light);
$color-text-primary: var(--text-primary);
$color-text-secondary: var(--text-secondary);

$color-background-dark-default: #16161a;
$color-text-primary-default: #fffffe;
