@use "../../styles/variables" as *;
@use "../../styles/functions" as *;
@use "../../styles/mixins" as *;

.navbar {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: pxToRem(8) pxToRem(16);
  padding: pxToRem(8) pxToRem(8);
  border-bottom: 1px solid $color-text-secondary;

  @include tablet {
    position: static;
    margin: pxToRem(16) pxToRem(32);
    padding: pxToRem(16) pxToRem(16);
  }

  &__right {
    &--mobile {
      @include tablet {
        display: none;
      }
    }

    &--tablet {
      display: none;
      @include tablet {
        display: flex;
        gap: pxToRem(32);
        justify-content: center;
        align-items: center;
      }
    }
  }

  &__hamburger {
    display: flex;
    flex-direction: column;
    gap: 6px;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 100;

    &-line {
      display: block;
      width: 24px;
      height: 1.5px;
      background-color: $color-text-primary;
      transition: 0.3s ease;
    }

    &--open {
      .navbar__hamburger-line:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
      }
      .navbar__hamburger-line:nth-child(2) {
        opacity: 0;
      }
      .navbar__hamburger-line:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
      }
    }
  }

  &__mobile-menu {
    display: none;
    flex-direction: column;

    position: absolute;
    top: 100%;
    right: 0;
    background-color: $color-background-light;
    padding: 0 pxToRem(16);
    z-index: 999;

    &--open {
      display: flex;
    }
  }

  &__tab {
    text-decoration: none;
    color: inherit;
    display: inline-block;
    cursor: pointer;
    &--active {
      font-weight: 900;
      @include tablet {
        font-weight: 400;
        border-top: 1px solid $color-text-secondary;
      }
    }
  }
}
