@use "../../styles/variables" as *;
@use "../../styles/functions" as *;
@use "../../styles/mixins" as *;

.skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @include tablet {
    margin: pxToRem(16) pxToRem(32);
    padding: 0 pxToRem(16) pxToRem(16);
  }

  &__header {
    color: $color-text-primary;
    text-align: center;
    margin-bottom: pxToRem(24);
  }

  &__container {
    background-color: $color-background-light;
    border-radius: pxToRem(32);
    display: flex;
    flex-direction: column;
    gap: pxToRem(32);
    margin: pxToRem(8) pxToRem(16);
    padding: pxToRem(24) pxToRem(24);
    max-width: pxToRem(1000);
    width: 80%;
    transition:
      transform 0.3s ease,
      box-shadow 0.3s ease;

    &:hover {
      transform: translateY(-5px);
      box-shadow: 0 8px 24px rgba(0, 0, 0, 0.3);
    }

    @include tablet {
      width: 100%;
      padding: pxToRem(40);
    }
  }

  &__group {
    display: flex;
    flex-direction: column;
    gap: pxToRem(12);
  }

  &__category-name {
    color: $color-text-secondary;
    text-transform: uppercase;
    font-size: pxToRem(14);
    letter-spacing: 1px;
    margin-bottom: pxToRem(4);
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: pxToRem(10);
  }
}
